apiVersion: apps/v1
kind: Deployment
metadata:
  name: rick-morty-devops
  labels:
    app: rick-morty-devops
spec:
  replicas: 2
  selector:
    matchLabels:
      app: rick-morty-devops
  template:
    metadata:
      labels:
        app: rick-morty-devops
    spec:
      containers:
        - name: rick-morty-devops
          image: docker.io/library/rick-morty-devops:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
          livenessProbe:
            httpGet:
              path: /healthcheck
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 10